body {
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Slab", monospace;
}
/*Global*/
#root {
  background-color: #141414;
  color: white;
  width: 360px;
  height: 640px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
}
/*Main page*/
#playBtn {
  width: 85%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: teal;
  font-family: "Roboto", sans-serif;
  font: 25px bold;
  color: white;
}
#eliBar {
  margin: auto;
  height: 15px;
  font-size: 12px;
  width: 85%;
  border: 1px solid lightgray;
  border-radius: 15px;
  background: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
  margin-bottom: 10px;
}
#playBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 145, 145);
}
.currentMatches {
  width: 30%;
  max-height: 90px;
  border-radius: 50%;
}
.currentMatches:hover {
  opacity: 0.7;
}
